@namespace InCaseIForgetMyCrochet.Shared
@typeparam T;

@if (SortableItemTemplate is not null)
{
    <div id="@Id">
        @foreach (var item in Items)
        {
            @SortableItemTemplate(item)
        }
    </div>
}